* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
}

.header_main{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  background-color: #000;
  width: 100%;
  z-index: 1;
  opacity: 0.7;

}

.header_left{
  flex: 1;
}

.header_right{
  flex: 2;
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 20px;
}

nav .links a{
  margin-left: 7px;
  margin-right: 7px;
 }

 .link:hover{
  border: 1px solid #fff;
  /* margin: 5px 5px; */
 }

.links .menu_btn{
  display: none;
}

/* Секции */
section{
  width: 100%;
  min-height: 100vh;

}

section:not(:first-child){
  padding-top: 80px;
}

/* Титульная страница */
.main_titul{
  background: url(img/main.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.titul_up{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 80px;
}


.titul_icons img{
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 3vh;
  margin-left: 10%;
}

.titul_icons img:hover{
  border: 2px solid #446044;
  border-radius: 50%;
}

.titul_down{
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2em;
  flex: 1.5;
  color: #000;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
}

.first_line{
  text-align: center;
  margin: 0px;
  padding: 0;
}

.second_line{
  display: flex;
  justify-content: center;
}
.narrow img{
  width: 150px;
  height: 50px;
}

/* Блок ОБО МНЕ */
.main_about{
  display: flex;
  flex-direction: column;
}
.headline{
  text-align: center;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  font-size: 1.5em;
}
.about_block{
  display: flex;
  flex-direction: row;  
  align-content: center;
  margin-top: 50px;
}
.left_about {
flex: 1;
margin-left: 20px;
display: flex;
justify-content: center;
align-items: flex-start;
}

.left_about img{
  max-width: 70%;
  max-height: 90vh;
}

.right_about {
  flex: 1;
  font-size: 1.2em;
  }






  /* Услуги */
  .service_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }

.service_cards .card{
  display: flex;
  flex-direction: column;
width: 25%;
min-height: 500px;
border: 1px solid #446044;
justify-content: space-between;
align-items: stretch;
min-width: 220px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 30px;;
}  

.service_cards .card img{
  margin: 30px auto 50px auto;
}

.service_cards .card h3{
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.service_cards .card p{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.service_cards .card form{
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}

.service_cards .card input{
  height: 30px;
  background-color: #c4b31b;
  border-radius: 10px;
  width: 100%;
}

.service_cards .card input:hover{
  background-color: #123163;
  color: #fff;
}

.description h3, .service_pro h3{
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
  margin-top: 20px;
}

.description p, .service_pro{
  font-size: 1.2em;
  margin: 30px 15% 30px 15%;
  text-align: justify;
}

.service_pro .second_p{
margin-top: 20px;
}

.description .bold{
  font-weight: bolder;
  font-size: 1.3em;
}

.tutorial {
  background-color: #d18242;
  font-size: 1.5em;
  padding: 20px 0;
}

.tutorial p{
  width: 80%;
 margin:0 auto;
}





/* Мобильный вид */


@media all and (max-width: 800px){
/* Сдвиг карточек услуг */
  .service_cards{
    flex-wrap: wrap;
}
}

  /* Титульный блок */

@media all and (max-width: 600px) {
  
  .header_main{
    display: flex;
    justify-content: space-between;
  }
  
  .header_right{
    flex: 1;
    height: 50px;
    position: fixed;
    margin-left: 80vw;
  }

  .header_left{
    flex: 1;

  }
  .links a {
    display: none;
   }


   .links a:nth-child(6){
    display: block;
    width: 50px;
    height: 50px;
    background-color: #bfccbf;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: -15px;

  }
  /* Кнопка меню */
  .menu_btn span,
  .menu_btn span::before,
  .menu_btn span::after{
    position: absolute;
    top: 50%;  margin-top: -1px;
    width: 20px;
    height: 2px;
  left: 50%; margin-left: -10px;
    background-color: #222;
  }
  
  .menu_btn span::before,
  .menu_btn span::after{
    content: '';
    display: block;
    transition: 0.5s;
  }
  
  .menu_btn span::before{
    transform: translateY(-5px);
  }
  
  .menu_btn span::after{
    transform: translateY(5px);
  }
  
  .links a:nth-child(6):hover{
    border: 1px solid #446044;
  }
  /* Активное меню */
  .menu_btn_active span{
    height: 0;
  }
  
  .menu_btn_active span::before{
    transform: rotate(45deg);
  }
  
  .menu_btn_active span::after{
    transform: rotate(-45deg);
  }

  /* Титульный блок */
  .titul_down_block p{
    color: #fff;
  }

  /* Блок Обо мне */
  .about_block{
    flex-direction: column;
  }
  .right_about{
    margin: 20px;
    font-size: 1em;
  }

/* Блок услуги */

.service_cards{
  flex-direction: column;
  align-items: center;
}

.service_cards .card{
  width: 70%;
}
}